
<footer class="text-center text-white fixed-bottom"
        style="background-color: #21081a; box-shadow: 0 0 0 10px rgba(0,0,0,.2);">
    <!-- Grid container -->
    <div class="container p-3"></div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Copyright © 2022 FakeStandard
        <a class="text-white" href="https://github.com/FakeStandard" target="_blank">GitHub</a>
    </div>
    <!-- Copyright -->
</footer>