@inherits LayoutComponentBase
<main>
    <div class="top-row fixed-top">
        <h6>十進位轉二進位 - Decimal to Binary</h6>
    </div>

    <article class="content">
        @Body
    </article>

    <Footer />
</main>
