name: .NET

on:
  push:
    branches: [main]

jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.x

      - name: Blazor Project - Decimal to Binary
        run: dotnet publish BlazorGitHubPages.csproj -c Release -o release --nologo

      # 修改 index.html 的 base href 設定
      - name: 修改 index.html 的 base href 設定
        run: sed -i 's/<base href="\/" \/>/<base href="\/BlazorGitHubPage\/" \/>/g' release/wwwroot/index.html

      # 新增 .nojekyll 檔
      - name: 新增 .nojekyll 檔
        run: touch release/wwwroot/.nojekyll

      # 複製 index.html 成 404.html
      - name: 複製 index.html 成 404.html
        run: cp release/wwwroot/index.html release/wwwroot/404.html

      # Commit wwwroot to GitHub Pages
      - name: Commit wwwroot to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: gh-pages
          folder: release/wwwroot
